<div class="container dashboard-container">
  <section class="mx-auto mb-2 dashboard-section">
    <div class="row align-items-center flex-wrap">
      <div class="col-md-6 p-2 d-flex align-items-center gap-2">
        <span class="entries-count text-nowrap min-width-90">
          {{ filteredData().length + " entries" }}
        </span>
        @if (goal()) {
        <app-progress-bar />
        } @else {
        <div class="w-100 d-flex justify-content-center">
          <span class="goal-message"
            >Set a weight goal to improve your health...</span
          >
        </div>
        }
      </div>
      <div class="col-md-6 p-2">
        <div class="row justify-content-md-end justify-content-center">
          <div class="col-12 col-md-4 p-2">
            <button
              (click)="openDialog('viewProgress')"
              color="primary"
              mat-button
              mat-raised-button
              class="w-100"
            >
              <mat-icon>show_chart</mat-icon>
              <span class="d-none d-md-inline"> View progress</span>
              <span class="d-md-none"> Progress</span>
            </button>
          </div>
          <div class="col-12 col-md-4 p-2">
            <button
              (click)="openDialog('setWeightGoal')"
              color="primary"
              mat-button
              mat-raised-button
              class="w-100"
            >
              <mat-icon>sports_score</mat-icon>
              <span class="d-none d-md-inline"> Set weight goal</span>
              <span class="d-md-none"> Goal</span>
            </button>
          </div>
          <div class="col-12 col-md-4 p-2">
            <button
              (click)="openDialog('addEntry')"
              color="primary"
              mat-button
              mat-raised-button
              class="w-100"
            >
              <mat-icon>add</mat-icon>
              <span class="d-none d-md-inline"> Add new entry</span>
              <span class="d-md-none"> Add</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        @for ( item of filteredData() | slice: lowValue : highValue; track
        item.id ) {
        <div class="col-md-4 p-2 entry-grid-item">
          <app-entry [entry]="item"></app-entry>
        </div>
        }
      </div>
    </div>
    <div class="row mb-3">
      @if (filteredData().length > 3) {
      <mat-paginator
        [length]="filteredData().length"
        [pageSize]="pageSize"
        (page)="getPaginatorData($event)"
        [pageSizeOptions]="pageSizeOptions"
        class="col-12 bg-transparent"
      >
      </mat-paginator>
      }
    </div>
  </section>
</div>
