<div class="container dashboard-container">
  <section class="mx-auto mb-2 dashboard-section">
    <div class="row align-items-center flex-wrap">
      <div class="col-md-6 p-2">
        <span class="entries-count">
          {{ filteredData.length + " entries" }}
        </span>
      </div>
      <div
        class="col-md-6 p-2 d-flex justify-content-end align-items-center gap-2"
      >
        <div class="col-lg-4 p-2">
          <button
            (click)="openDialog()"
            color="primary"
            mat-button
            mat-raised-button
            class="w-100"
          >
            <mat-icon>sports_score</mat-icon>
            <span> Set weight goal</span>
          </button>
        </div>
        <div class="col-lg-4 p-2">
          <button
            (click)="openDialog()"
            color="primary"
            mat-button
            mat-raised-button
            class="w-100"
          >
            <mat-icon>add</mat-icon>
            <span> Add new entry</span>
          </button>
        </div>
      </div>
    </div>
    <div>
      <div class="row">
        @for ( item of filteredData | slice: lowValue : highValue; track item.id
        ) {
        <div class="col-md-4 p-2 entry-grid-item">
          <app-entry [entry]="item"></app-entry>
        </div>
        }
      </div>
    </div>
    <div class="row mb-3">
      @if (filteredData.length > 3) {
      <mat-paginator
        [length]="filteredData.length"
        [pageSize]="pageSize"
        (page)="getPaginatorData($event)"
        [pageSizeOptions]="pageSizeOptions"
        class="col-12 bg-transparent"
      >
      </mat-paginator>
      }
    </div>
  </section>
</div>
