.background {
  &--title {
    background-color: rgb(230, 173, 211);
  }
  &--id {
    background-color: rgb(175, 175, 175);
  }
  &--userid {
    background-color: rgb(234, 203, 30);
  }
  &--body {
    background-color: lightblue;
  }
}
