mat-grid-tile .mat-grid-tile-content {
  display: block !important;
  align-items: unset !important;
  justify-content: unset !important;
  height: 100%;
}

.background {
  &--title {
    background-color: rgb(230, 173, 211);
  }
  &--id {
    background-color: rgb(107, 108, 108);
  }
  &--userid {
    background-color: rgb(234, 203, 30);
  }
  &--body {
    background-color: lightblue;
  }
}

.chip {
  display: inline-block;
  padding: 0 25px;
  margin: 0 0 0 10px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
}
