.weight-input {
  margin-bottom: -1.25em;
  width: 75%;
}

.date-input {
  width: 75%;
}

.stepper-form {
  .mat-form-field {
    &.weight-input {
      margin-bottom: -1.25em;
      width: 75%;
    }

    &.date-input {
      width: 75%;
    }
  }

  .button-container {
    padding-top: 0.5rem;

    &.date-buttons {
      padding-top: 0.5rem;
    }

    &.final-buttons {
      padding-top: 0.5rem;

      .reset-button {
        margin-right: 0.25rem;
      }
    }
  }
}
