<mat-card appearance="outlined" class="entry-card">
  <mat-card-header class="entry-header">
    <mat-card-title class="entry-title">
      <span>{{ entry().weight }} kgs</span>
    </mat-card-title>
    <mat-card-subtitle class="entry-subtitle">
      <span>{{ entry().date }}</span>
    </mat-card-subtitle>
    <div class="header-icons">
      <span [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </span>
    </div>
  </mat-card-header>
  <mat-card-content class="entry-content px-3">
    <p class="entry-description mb-4">
      {{
        entry().description ? entry().description : "No description provided."
      }}
    </p>
    <hr />
  </mat-card-content>
  <mat-card-actions
    class="d-flex justify-content-end ps-2 pe-3 pt-1 entry-actions"
  >
    <span class="push-right">ID: {{ entry().id }}</span>
  </mat-card-actions>
</mat-card>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openDialog()">
    <mat-icon>delete</mat-icon>
    <span>Delete Entry</span>
  </button>
</mat-menu>
