.container {
  width: 100%;
  height: calc(100% - 5px);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subcontainer {
  min-width: 0;
}
